

body {
    font-family: Monotype Corsiva;
    font-size: 30px;
    line-height: 40px;
    /* font-weight: bold; */
    /* font: normal Monotype Corsiva; */
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* font-style: italic; */
    /* letter-spacing: 3px; */
    word-spacing: 10px;

}

/* Lists and Tables */

/* (tr>(td{$})*5)*6 - формула быстрой постройки таблицы */
/* НАСТРОЙКИ ТАБЛИЦЫ */
.table {
    color: black;
    width: 100%;
    text-align: center;
    border: 20px solid black;
    margin-top: 20px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
.table td:hover {
    background-color: aquamarine;
    color: white;
}

/*                                                                       НАСТРОЙКИ СПИСКА */
/* .table tr:nth-child(even) */

/* .table td:nth-child(even) { 
background-color: #69ffaf;
} */

.navbar {
    text-align: center;
    margin: auto;
    border: 5px solid black;
    width: 650px;
    height: 81px;
    background-color: rgb(94, 43, 87);
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0px 20px;
    display: flex;

}

.navbar ul li {
padding: 20px;
}

.navbar ul li:hover {
    background-color: rgb(58, 49, 180);
}